@charset "utf-8";
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1479350281947'); /* IE9*/
  src: url('../font/iconfont.eot?t=1479350281947#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1479350281947') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1479350281947') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1479350281947#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-family: punctuation,PingFangSC-Regular,"Microsoft YaHei","微软雅黑";
}
/* 顶部广告条 */
.wrgg{
  background-color: #002050;
  height: 33px;
  color: #ffffff;
  line-height: 33px;
  font-size: 12px;
  text-align: center;
}
.wrgg a{
  text-decoration: underline;
}
/* logo 搜索 等 */
.g_header{
  padding: 12px;
  background-color: #f5f5f5;
}
.u_logo{
  width: 95px;
  height: 20px;
  background: url(../images/logo.jpg) 0 0 no-repeat;
  float: left;
}
.m_header_icon a{
  display: inline-block;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin-left: 36px;
  font-size: 20px;
}
/* 导航 */
.g_nav{
  border-bottom: solid 1px #666;
}
.g_nav_bd{
  padding: 0 0 0 12px;
  height: 50px; 
  line-height: 50px;
  position: relative;
}
.u_wrlink{
  font-size: 14px;
  float: left;
}
.u_menu_btn{
  float: right;
  width: 48px;
  height: 48px;
  border:1px solid #ffffff;
  line-height: 48px;
  text-align: center;
  font-size: 30px;
}
.u_mb_active{
  border-left-color: #666;
  border-top-color: #666;
  border-bottom:2px solid #ffffff;
  position: relative;
  height: 49px;
}
.g_nav_list{
  position: absolute;
  left: 0;
  top: 100%;
}
.m_nav_list{
  padding-left: 20px;
}




/* 公用样式 */
html .pcshow{
  display: none;
}