@charset "utf-8";
/* pc 下显示搜索框 */
.u_search_input{
  width: 480px;
  border: 1px solid #666;
  height: 28px;
  line-height: 18px;
  padding: 0 10px;
  display: inline-block;
  margin-left: 35px;
}
.u_search_input input{
  display: inline-block;
  width: 100%;
  height: 28px;
}
.m_header_icon .u_help,
.m_header_icon .u_login{
  font-size: 12px;
}

/* 公用样式 */
.cw{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
html .pcshow{
  display: inline-block;
}
html .pchide{
  display: none;
}